@model IEnumerable<Conexion.Models.Editoriales>

@{
    ViewBag.Title = "Index";
}

<h2>Administrador de Editoriales</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desc_edit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc_edit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_edit }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_edit }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_edit })
        </td>
    </tr>
}

</table>
