@model Conexion.Models.Tiendas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tiendas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desc_tienda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_tienda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direc_tienda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direc_tienda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Tienda1.desc_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Tienda1.desc_tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_tienda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
