@model IEnumerable<Conexion.Models.Tiendas>

@{
    ViewBag.Title = "Index";
}

<h2>Administrador de Tiendas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desc_tienda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direc_tienda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Tienda1.desc_tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc_tienda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direc_tienda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Tienda1.desc_tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tienda }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tienda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tienda })
        </td>
    </tr>
}

</table>
